*{
    margin: 0 auto;
 }
 a{
    text-decoration: none;
 }
.container{
    width: 1170px;
}
h1,h2,h3,h4,h5,h6,p{
    
    line-height: 0.8;
}

/* header part start  */
header{
    background: rgba(255, 144, 14, 0.1);
    display: flex;
    align-items: center;
   padding: 50px 0;
}
.head_title{
   font-size: 45px;
   font-weight: 700;
   font-family: 'Work Sans', sans-serif;
}
 nav a{
    padding-left: 25px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    color: #424242;
}
#banner{
    background: rgba(255, 144, 14, 0.1);
   padding-top: 115px;
   display: flex;
   align-items: center;
}


.banner_text{
    text-align: center;

}
.banner_text h1{

    font-family: 'Work Sans';
    
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}
.banner_text p{
 margin: 25px 0;
    font-family: 'Work Sans';
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 0 50px;
    line-height: 26px;
    
}
button{
    border: #FF900E;
background-color:  #FF900E;
border-radius: 10px;
text-decoration: none;

}
button h3{
   
    font-family: 'Work Sans';
    color: #fff;
    font-weight:500;
    font-size: 20px;
    padding: 20px 25px;
}
.banner_img{
padding: 50px 0;
}
.banner_img img{
    height: 700px;
    width: 1170px;
    
}
/* banner part end  */
/* feature part start  */

#feature{
    margin-top: 45px;
    margin-bottom: 65px;
}
.feature_item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
}
.feature_img{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px ;
}
.feature_info h2{
    font-family: 'Work Sans';
     font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}
.feature_info h2 .quick_list{
    color: #727272;
}
.feature_info h2 .quick_list2{
    color:  #FF900E;
}
.feature_info p{
    font-family: 'Work Sans';
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 25px 0 30px 0;
    line-height: 26px;
}
/* frater part end  */
/* blog part start  */
.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px ;
  
}
.blog_title h3{
    font-family: 'Work Sans';
    font-weight: 700;
   font-size: 45px;
   line-height: 50px;
}
.blog_text p{
    font-family: 'Work Sans';
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 0;
}
.blog_info p{
    font-family: 'Work Sans';
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 10px 0 25px 0;
}
.blog_title h4{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.blog_info{
    margin-top: 20px;
    padding: 30px 30px 0;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 10px;
}
.blog_img .btn {
    position: relative;
    bottom: 100px;
    right: 28px;
}

.blog_img  .btn {
    background-color:  #FF900E;
 border: 1px solid  #FF900E;
 display: inline-block;   
  padding: 45px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}
.blog_img  .btn h3 {
   font-family: 'Work Sans';
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 20px;
    
}
.blog_img  .btn p{
      font-family: 'Work Sans';
    font-weight: 500;
font-size: 25px;

}

/* blog part end */
/* fact part start  */
#fact{
    padding-top: 50px;
}
.fact_text h3{
    font-family: 'Work Sans';

font-weight: 700;
font-size: 45px;
line-height: 53px;
}
.fact_text p{
  font-family: 'Work Sans';
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
padding-top: 25px;
padding-bottom: 100px;
}
.fact_icon_item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-right: 10px;
}
.fact_icon{
    padding: 35px 45px;
     border: 1px solid  #FF900E;
     border-radius: 10px;
  text-align: center;
}
.fact_icon h4{
    padding: 10px;
     font-family: 'Work Sans';
color: #424242;
font-weight: 600;
font-size: 45px;

}
.fact_icon p{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;

color: #727272;
}
/* <!-- sponser part start  --> */
#Sponspors{
   padding-top: 100px;
}
.sponsors_head{
    text-align: center;
}
.sponsors_head h3{
    font-family: 'Work Sans';
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
  
}
.sponsors_head p{
    padding-top: 25px;
    padding-bottom: 50px;
    font-family: 'Work Sans';
   
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
   
 color: #727272;
  
}
.sponsors_name{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 100px;
}
.footer_text {
  background:  #FFF4E7;
}
.footer_text p{
   
    padding: 35px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Work Sans';
font-weight: 400;
font-size: 20px;

color: #424242;
}

@media screen and (max-width:576px) {
    #banner {
        background: rgba(255, 144, 14, 0.1);
    }
    .bg{
        background-color: none;
    }
    .banner_img img{
        height: 500px;
        width: 1170px;
        
    }
   
}
